body{
    background-color: lightsteelblue;
    font-family: "Comic Sans MS";
}
.card-header{
    background-color: darkslateblue;
}
.card-body{
    background-color: ghostwhite;
}

.card-footer{
    background-color: lightcyan;
}
.card
